# generic
.idea/
.notes/

# editors
.vscode/
.zed/

# claude
.claude/
CLAUDE.md

# helix
helix/dot-config/helix/runtime/**

# tmux
tmux/dot-config/tmux/plugins/**

# zed
zed/dot-config/zed/conversations/**
zed/dot-config/zed/embeddings/**
zed/dot-config/zed/prompts/**

# shell
**/*.local.sh
**/*.local.zsh
**/dot-zsh/cache/**
**/dot-zsh/plugins/**
