.helix/
.idea/
.vscode/
.zed/

claude/

helix/dot-config/helix/runtime/**

tmux/dot-config/tmux/plugins/**

zed/dot-config/zed/conversations/**
zed/dot-config/zed/embeddings/**
zed/dot-config/zed/prompts/**

zsh/dot-zsh/cache/**
zsh/dot-zsh/include/_*.zsh
