(
    selected_tab: Some("Reset"),
    command_fg: Some("#c0c8d8"),
    selection_bg: Some("#3b4252"),
    selection_fg: Some("#d0d7e4"),
    cmdbar_bg: Some("#262c36"),
    cmdbar_extra_lines_bg: Some("#262c36"),
    disabled_fg: Some("#7a8490"),
    diff_line_add: Some("#a3be8c"),
    diff_line_delete: Some("#bf616a"),
    diff_file_added: Some("#a3be8c"),
    diff_file_removed: Some("#bf616a"),
    diff_file_moved: Some("#d08770"),
    diff_file_modified: Some("#ebcb8b"),
    commit_hash: Some("#a3be8c"),
    commit_time: Some("#81a1c1"),
    commit_author: Some("#88c0d0"),
    danger_fg: Some("#bf616a"),
    push_gauge_bg: Some("#81a1c1"),
    push_gauge_fg: Some("#262c36"),
    tag_fg: Some("#b48ead"),
    branch_fg: Some("#b48ead")
)
