/*
Left tab close button (macOS style)

Open Firefox and go to about:config.
Search for: toolkit.legacyUserProfileCustomizations.stylesheets Set it to true.

Locate your profile folder: Go to about:support.
Next to "Profile Folder", click Show in Finder.

Create the chrome folder and make a copy of this file
*/
.tabbrowser-tab .tab-close-button {
  opacity: 0;
  margin-left: -4.5px !important;
  margin-right: 2px !important;
}

.tabbrowser-tab:not(:hover) .tab-close-button {
  display: none;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-close-button {
  opacity: 1;
  margin-inline-end: 0;
  order: -1 !important;
  display: unset !important;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-icon-stack {
  -moz-box-ordinal-group: 99999 !important;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-icon-stack:not([indicator-replaces-favicon]) {
  display: none;
}